@import "tailwindcss";

@theme {
  --color-primary: #1976d2;
  --color-secondary: #1c398e;
  --color-info: #155dfc;
  --color-selected: #9ACBD0;
}

/* select search pokemon */
.select-pokemon .MuiOutlinedInput-root, 
.select-pokemon .MuiOutlinedInput-notchedOutline {
  @apply rounded-4xl border-primary border-2 bg-info/20;
}

.select-pokemon {
  @apply w-full;
}

.MuiMenu-list .MuiMenuItem-root {
  @apply text-secondary;
}

.MuiSelect-select {
  color: --color-secondary !important;
}

.MuiMenu-list .Mui-selected {
  background-color: var(--color-selected) !important; 
}
/* select search pokemon */

/* button search pokemon*/
.MuiButton-contained {
  @apply h-13 w-1;  
}

.MuiButton-colorPrimary {
  background-color: var(--color-secondary)  !important;
}
/* button search pokemon*/